$color-main:          #3B43F2;
$color-main-dark:     #151861;
$color-secondary:     #459EFF;

$color-text:          #222A41;
$color-text-light:    #6D7783;

$header-bg:    #FFF;

/*--- BREAKPOINTS ---*/
$xs-max:                            575.98px;
$sm-min:                            576px;
$sm-max:                            767.98px;
$md-min:                            768px;
$md-max:                            991.98px;
$lg-min:                            992px;
$lg-max:                            1199.98px;
$xl-min:                            1200px;
